@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
  --hover-boxshadow: 0px 10px 13px -7px #000000, 0px 17px 21px -6px rgba(0, 0, 0, 0);
  --border: 1px solid rgb(163, 163, 163);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-spacing: 0;
}
img {
  max-width: 100%;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.table-container {
  position: relative;
  display: grid;
  grid-template-areas:
    "head"
    "table"
    "foot";

  grid-template-rows: 40px auto 40px;
  justify-content: center;
  border: 1px solid gray;
  margin: 0 auto;
  min-height: 700px;
  gap: 10px;
  padding: 10px 30px;
  border-radius: 4px;
  user-select: none;
  box-shadow: var(--hover-boxshadow);
}

.table-container table {
  width: 700px;
  /* border-left: var(--border);
  border-top: var(--border); */
  border: var(--border);
}
.table-container thead tr th {
  width: calc(70% / 2);
}
.table-container thead tr th:nth-child(1),
.table-container thead tr th:nth-child(3),
.table-container thead tr th:nth-child(4) {
  width: 10%;
}

.table-container tr th,
.table-container tr td {
  /* text-align: center; */
  padding-left: 10px;
  border-bottom: var(--border);
  border-right: var(--border);
  height: 40px;
}

.table-container thead tr th:last-child {
  border-right: none;
}
.table-container tbody tr td:last-child {
  border-right: none;
}
.table-container tbody tr:last-child td {
  border-bottom: none;
}

.table-container tr:nth-child(2n) {
  background-color: rgb(216, 216, 216);
}

.table-container tbody tr:hover {
  background-color: rgb(226, 226, 226);
}

.table-container tbody tr a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  transition: all ease 0.1s;
}
.table-container tbody tr a:hover {
  transform: scale(1.2);
}
.table-container tbody tr td:first-child {
  text-align: center;
}

.table-container thead tr th:not(:first-child):hover {
  background-color: #f18c2e;
}

.table-header {
  display: flex;
  padding: 5px 0;
}
.pagination-controls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.search {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 5px;
}
.search i {
  position: absolute;
  top: 10px;
  left: 10px;
}

.search input {
  padding: 8px 30px;
  margin-left: auto;
}

.search input:hover ~ i {
  transform: scale(1.05);
}
#previous {
  margin: 0 10px 0 auto;
  padding: 2px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#next {
  margin: 0 auto 0 10px;
  padding: 2px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#previous:hover,
#next:hover {
  background-color: rgb(226, 226, 226);
}

#totalItems {
  width: fit-content;
}

#new {
  height: 100%;
  padding: 8px 20px;
}
select {
  background: white;
  border: none;
  overflow: hidden;
  width: 40px;
}

.selectPagesContainer {
  display: flex;
  align-items: center;
}
.selectPagesContainer select {
  margin: 0 10px;
}

.form-modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}
.form-modal .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30%;
  margin-bottom: 30%;
  height: fit-content;
  background-color: white;
  padding: 70px;
  width: 500px;
  gap: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: var(--hover-boxshadow);
}

.form-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.form-modal form input {
  padding: 10px 20px;
  border: var(--border);
  border-radius: 5px;
}

.form-modal form button {
  width: 100px;
  padding: 5px 20px;
}
